body{
    background: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    position: relative;
    width: 700px;
}
.box canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cn-vid{
    margin-left: 30px;
}

video{
    outline: none;
}